@font-face {
    font-family: 'Disney';
    src: url('./Disney.ttf') format('truetype');
}
body{
    font-family: 'Disney';
    margin: 0;
    padding:0 ;
}
html{
    scroll-behavior: smooth;
}
@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}
#loader{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url("./loader.gif") no-repeat center;
    z-index: 9999;
    display: block;
}
.nav{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
.nav:hover{
    color: red;
}
.nav-item #sign{
    background-color: red;
    color: white;
    border-radius: 15px;
    border: none;
}



@keyframes rotateImage {
    0%{
        transform: rotate3d(0deg);
    }
    100%{
        transform: rotate(360deg);
    } 
}
